* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container input,
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.container h1 {
    text-align: center;
}

.container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
}

ul li span {
    cursor: pointer;
}

.container>span {
    display: none;
    color: red;
}

.container .show {
    display: block;
}